@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .trans {
    @apply transition;
    @apply duration-300;
    @apply ease-in-out;
  }

  a {
    @apply trans;
    @apply underline;

    /* default text */
    @apply text-gray-700
    @apply decoration-neuda-50;
    @apply hover:decoration-neuda-500;

    @apply dark:decoration-neuda-300;
    @apply hover:decoration-neuda-50;
  }

  a.active {
    @apply decoration-prim-500;
  }

  nav a:not(.active) {
    @apply text-gray-400;
    @apply hover:text-gray-700;
    @apply dark:hover:text-gray-100;
  }

  .text {
    @apply text-gray-600;
    @apply dark:text-gray-300;
  }

  .text-title {
    @apply text-gray-800;
    @apply dark:text-gray-50;
  }

  .text-subtitle {
    @apply text-gray-500;
    @apply dark:text-gray-400;
  }

  .text-subsubtitle {
    @apply text-gray-400;
    @apply dark:text-gray-500;
  }

  .prose blockquote {
    @apply p-2;
    @apply italic;
    @apply text;
  }

  .prose blockquote p {
    @apply my-1;
  }

  .prose a {
    @apply decoration-gray-300;
    @apply trans;
  }

  .prose a:hover {
    @apply decoration-gray-600;
  }
}

.wave {
  animation-name: wave-animation;
  animation-duration: 7s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  2% {
    transform: rotate(14deg);
  }
  4% {
    transform: rotate(-8deg);
  }
  6% {
    transform: rotate(14deg);
  }
  8% {
    transform: rotate(-4deg);
  }
  10% {
    transform: rotate(10deg);
  }
  12% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
}
