{
  "openapi": "3.1.0",
  "info": {
    "title": "willy.im IdP — Management API",
    "version": "1.0.0",
    "description": "Management API for the willy.im identity provider. Authenticate with `Authorization: Bearer <token>`. Two kinds of bearer, both `wim_` keys: IdP-level **admin keys** (every permission on every app, minted at `/api/v1/admin-keys`) and per-app **scoped keys** minted in the admin console (one app, a fixed permission set). The cross-app endpoints below require an admin key."
  },
  "servers": [
    {
      "url": "https://idp.willy.im"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "An IdP-level admin key or a per-app scoped key (wim_…)."
      }
    }
  },
  "paths": {
    "/api/v1/applications": {
      "get": {
        "summary": "List registered applications",
        "description": "Requires an admin key.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "applications": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clientId": {
                            "type": "string"
                          },
                          "name": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "app": {
                            "description": "Application key; consumer workspace claims are filtered by this",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "allowSignup": {
                            "type": "boolean",
                            "description": "Whether unknown users may sign themselves up"
                          },
                          "permissions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The app's declared product-permission catalog"
                          },
                          "resourceTypes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string"
                                },
                                "label": {
                                  "type": "string"
                                },
                                "list": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "type",
                                "label",
                                "list"
                              ],
                              "additionalProperties": false
                            },
                            "description": "Declared resource types — permission families over instances the app holds"
                          },
                          "resources": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Protected resource URIs (e.g. the app's MCP server) — valid `resource` audiences for access tokens"
                          },
                          "redirectUris": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "disabled": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "ISO 8601 timestamp"
                          }
                        },
                        "required": [
                          "clientId",
                          "name",
                          "app",
                          "allowSignup",
                          "permissions",
                          "resourceTypes",
                          "resources",
                          "redirectUris",
                          "disabled",
                          "createdAt"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "applications"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          }
        }
      },
      "post": {
        "summary": "Register an application (client secret returned once)",
        "description": "Requires an admin key. Creating an application is an IdP-level act — there is no app to scope a permission to yet.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "app": {
                    "type": "string",
                    "minLength": 1,
                    "pattern": "^[a-z0-9][a-z0-9-]*$",
                    "description": "Stable application key — the join key for members, workspaces and keys"
                  },
                  "redirectUris": {
                    "minItems": 1,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "firstAdminUserId": {
                    "description": "Who becomes the app's first IdP admin. Defaults to the calling user; null leaves the app with no members (superadmin-managed).",
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "name",
                  "app",
                  "redirectUris"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "clientId": {
                      "type": "string"
                    },
                    "clientSecret": {
                      "type": "string",
                      "description": "Plaintext client secret — shown exactly once, never stored"
                    },
                    "app": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "clientId",
                    "clientSecret",
                    "app"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "405": {
            "description": "Method not allowed on this resource (see the `Allow` header)"
          },
          "409": {
            "description": "Conflict (already a member, last admin, slug taken, …)"
          },
          "422": {
            "description": "Body failed validation"
          }
        }
      }
    },
    "/api/v1/applications/{clientId}": {
      "get": {
        "summary": "Get one application",
        "description": "Requires `app:read` on the path app (or an admin key).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "description": "OAuth client id of the application.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "clientId": {
                      "type": "string"
                    },
                    "name": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "app": {
                      "description": "Application key; consumer workspace claims are filtered by this",
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "allowSignup": {
                      "type": "boolean",
                      "description": "Whether unknown users may sign themselves up"
                    },
                    "permissions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The app's declared product-permission catalog"
                    },
                    "resourceTypes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "list": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "label",
                          "list"
                        ],
                        "additionalProperties": false
                      },
                      "description": "Declared resource types — permission families over instances the app holds"
                    },
                    "resources": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Protected resource URIs (e.g. the app's MCP server) — valid `resource` audiences for access tokens"
                    },
                    "redirectUris": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "disabled": {
                      "type": "boolean"
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "ISO 8601 timestamp"
                    }
                  },
                  "required": [
                    "clientId",
                    "name",
                    "app",
                    "allowSignup",
                    "permissions",
                    "resourceTypes",
                    "resources",
                    "redirectUris",
                    "disabled",
                    "createdAt"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "403": {
            "description": "Key lacks the permission / is bound to another app"
          },
          "404": {
            "description": "No application with that client id"
          }
        }
      },
      "patch": {
        "summary": "Update an application",
        "description": "Requires `app:update` on the path app (or an admin key).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "description": "OAuth client id of the application.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "redirectUris": {
                    "minItems": 1,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "allowSignup": {
                    "type": "boolean"
                  },
                  "resources": {
                    "description": "Replace the app's protected resource URIs — absolute https, no fragment",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "clientId": {
                      "type": "string"
                    },
                    "name": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "app": {
                      "description": "Application key; consumer workspace claims are filtered by this",
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "allowSignup": {
                      "type": "boolean",
                      "description": "Whether unknown users may sign themselves up"
                    },
                    "permissions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The app's declared product-permission catalog"
                    },
                    "resourceTypes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "list": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "label",
                          "list"
                        ],
                        "additionalProperties": false
                      },
                      "description": "Declared resource types — permission families over instances the app holds"
                    },
                    "resources": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Protected resource URIs (e.g. the app's MCP server) — valid `resource` audiences for access tokens"
                    },
                    "redirectUris": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "disabled": {
                      "type": "boolean"
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "ISO 8601 timestamp"
                    }
                  },
                  "required": [
                    "clientId",
                    "name",
                    "app",
                    "allowSignup",
                    "permissions",
                    "resourceTypes",
                    "resources",
                    "redirectUris",
                    "disabled",
                    "createdAt"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "403": {
            "description": "Key lacks the permission / is bound to another app"
          },
          "404": {
            "description": "No application with that client id"
          },
          "405": {
            "description": "Method not allowed on this resource (see the `Allow` header)"
          },
          "409": {
            "description": "Conflict (already a member, last admin, slug taken, …)"
          },
          "422": {
            "description": "Body failed validation"
          }
        }
      },
      "delete": {
        "summary": "Deregister an application",
        "description": "Requires `app:delete` on the path app (or an admin key).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "description": "OAuth client id of the application.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "403": {
            "description": "Key lacks the permission / is bound to another app"
          },
          "404": {
            "description": "No application with that client id"
          },
          "405": {
            "description": "Method not allowed on this resource (see the `Allow` header)"
          },
          "409": {
            "description": "Conflict (already a member, last admin, slug taken, …)"
          }
        }
      }
    },
    "/api/v1/applications/{clientId}/rotate-secret": {
      "post": {
        "summary": "Rotate the client secret (returned once; the old one stops working)",
        "description": "Requires `app:update` on the path app (or an admin key).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "description": "OAuth client id of the application.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "clientSecret": {
                      "type": "string",
                      "description": "Plaintext client secret — shown exactly once, never stored"
                    }
                  },
                  "required": [
                    "clientSecret"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "403": {
            "description": "Key lacks the permission / is bound to another app"
          },
          "404": {
            "description": "No application with that client id"
          },
          "405": {
            "description": "Method not allowed on this resource (see the `Allow` header)"
          },
          "409": {
            "description": "Conflict (already a member, last admin, slug taken, …)"
          }
        }
      }
    },
    "/api/v1/apps/{app}/permissions": {
      "put": {
        "summary": "Replace the app's product-permission catalog",
        "description": "Wholesale replace of both halves of the catalog: the flat permissions, and the resource types (`{ type, label, list }`) that per-instance grants such as `kirby:thread:<id>` compose under. The IdP GETs each type's `list` URL — with a 60s IdP-signed JWT whose `aud` is that URL — whenever it needs the instances; it never stores them. Omitting `resourceTypes` clears them. 422 `invalid_resource_type` names a `list` URL that is not absolute https (http is allowed for loopback hosts only).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "Application key (oauth_client.metadata.app).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "permissions": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "resourceTypes": {
                    "default": [],
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "pattern": "^[a-z0-9_-]+(:[a-z0-9_-]+)*$",
                          "description": "Permission prefix a grant composes under: `kirby:thread` → `kirby:thread:<id>`"
                        },
                        "label": {
                          "description": "Human name for one instance, shown in the console — “WhatsApp conversation”",
                          "type": "string",
                          "minLength": 1
                        },
                        "list": {
                          "type": "string",
                          "format": "uri",
                          "description": "Absolute URL the IdP GETs to enumerate instances. Called with an IdP-signed bearer JWT (aud = this URL); must answer `ResourceListSchema`"
                        }
                      },
                      "required": [
                        "type",
                        "list"
                      ]
                    }
                  }
                },
                "required": [
                  "permissions"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "permissions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "resourceTypes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "list": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "label",
                          "list"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "permissions",
                    "resourceTypes"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "403": {
            "description": "Key lacks the permission / is bound to another app"
          },
          "404": {
            "description": "No application with that app key"
          },
          "405": {
            "description": "Method not allowed on this resource (see the `Allow` header)"
          },
          "409": {
            "description": "Conflict (already a member, last admin, slug taken, …)"
          },
          "422": {
            "description": "Body failed validation"
          }
        }
      }
    },
    "/api/v1/apps/{app}/keys": {
      "get": {
        "summary": "List scoped management API keys (never the hashes)",
        "description": "Requires `apikey:read` on the path app (or an admin key).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "Application key (oauth_client.metadata.app).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "prefix": {
                            "type": "string",
                            "description": "Non-secret token prefix (wim_…) for display"
                          },
                          "permissions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "IdP management permissions this key holds"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "active",
                              "expired",
                              "revoked"
                            ]
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "lastUsedAt": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "expiresAt": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "revokedAt": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "prefix",
                          "permissions",
                          "status",
                          "createdAt",
                          "lastUsedAt",
                          "expiresAt",
                          "revokedAt"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "keys"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "403": {
            "description": "Key lacks the permission / is bound to another app"
          }
        }
      },
      "post": {
        "summary": "Mint a scoped management API key (plaintext returned once)",
        "description": "Requires `apikey:create` on the path app (or an admin key). The requested permissions must be a subset of the caller's own, otherwise 403 `permissions_exceed_caller` — without that rule any key holding `apikey:create` could mint itself a more powerful successor.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "Application key (oauth_client.metadata.app).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "permissions": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "description": "IdP management permissions; must be a subset of the caller's own on this app"
                  },
                  "expiresAt": {
                    "description": "ISO 8601; omit for non-expiring",
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
                  }
                },
                "required": [
                  "name",
                  "permissions"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "token": {
                      "type": "string",
                      "description": "Plaintext key — shown exactly once, never stored"
                    },
                    "prefix": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "token",
                    "prefix"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "403": {
            "description": "Key lacks the permission / is bound to another app"
          },
          "405": {
            "description": "Method not allowed on this resource (see the `Allow` header)"
          },
          "409": {
            "description": "Conflict (already a member, last admin, slug taken, …)"
          },
          "422": {
            "description": "Body failed validation"
          }
        }
      }
    },
    "/api/v1/apps/{app}/keys/{id}": {
      "delete": {
        "summary": "Revoke a scoped management API key (idempotent)",
        "description": "Requires `apikey:revoke` on the path app (or an admin key).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "Application key (oauth_client.metadata.app).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "403": {
            "description": "Key lacks the permission / is bound to another app"
          },
          "404": {
            "description": "No key with that id on this app"
          },
          "405": {
            "description": "Method not allowed on this resource (see the `Allow` header)"
          },
          "409": {
            "description": "Conflict (already a member, last admin, slug taken, …)"
          }
        }
      }
    },
    "/api/v1/admin-keys": {
      "get": {
        "summary": "List IdP-level admin keys (never the hashes)",
        "description": "Requires an admin key. Admin keys are `api_key` rows with no application scope, so they hold every permission on every app.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "prefix": {
                            "type": "string",
                            "description": "Non-secret token prefix (wim_…) for display"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "active",
                              "expired",
                              "revoked"
                            ]
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "lastUsedAt": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "expiresAt": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "revokedAt": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "prefix",
                          "status",
                          "createdAt",
                          "lastUsedAt",
                          "expiresAt",
                          "revokedAt"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "keys"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          }
        }
      },
      "post": {
        "summary": "Mint an IdP-level admin key (plaintext returned once)",
        "description": "Requires an admin key. Mint one per agent: an admin key has a name, an optional expiry, a revoke switch, and its own `adminkey:<id>` identity in the audit log, so every superadmin action is attributable.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Who holds it — one key per agent, so the audit log reads"
                  },
                  "expiresAt": {
                    "description": "ISO 8601; omit for non-expiring",
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "token": {
                      "type": "string",
                      "description": "Plaintext key — shown exactly once, never stored"
                    },
                    "prefix": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "token",
                    "prefix"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "405": {
            "description": "Method not allowed on this resource (see the `Allow` header)"
          },
          "409": {
            "description": "Conflict (already a member, last admin, slug taken, …)"
          },
          "422": {
            "description": "Body failed validation"
          }
        }
      }
    },
    "/api/v1/admin-keys/{id}": {
      "delete": {
        "summary": "Revoke an IdP-level admin key (idempotent)",
        "description": "A key may revoke itself — an agent cleaning up after itself is legitimate — after which its next request is simply unauthorized.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Admin key id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "No admin key with that id"
          },
          "405": {
            "description": "Method not allowed on this resource (see the `Allow` header)"
          },
          "409": {
            "description": "Conflict (already a member, last admin, slug taken, …)"
          }
        }
      }
    },
    "/api/v1/users": {
      "get": {
        "summary": "List users",
        "description": "Requires an admin key.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "name": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "image": {
                            "type": "string",
                            "description": "Avatar URL — the user's own picture, or the blobatar the IdP renders for them"
                          },
                          "emailVerified": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "email",
                          "name",
                          "image",
                          "emailVerified",
                          "createdAt"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "users"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          }
        }
      }
    },
    "/api/v1/workspaces": {
      "get": {
        "summary": "List workspaces",
        "description": "Requires an admin key.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "workspaces": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "applicationId": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "createdAt": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "slug",
                          "applicationId",
                          "createdAt"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "workspaces"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          }
        }
      }
    },
    "/api/v1/apps/{app}/members": {
      "get": {
        "summary": "List app members",
        "description": "Requires `member:read` on the path app (or an admin key).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "Application key (oauth_client.metadata.app).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "members": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "userId": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "name": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "role": {
                            "type": "string",
                            "enum": [
                              "admin",
                              "member"
                            ]
                          },
                          "permissions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "productPermissions": {
                            "default": [],
                            "description": "Grants from the app's own catalog; admins hold the whole catalog and store none",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "required": [
                          "userId",
                          "email",
                          "name",
                          "role",
                          "permissions",
                          "productPermissions"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "members"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "403": {
            "description": "Key lacks the permission / is bound to another app"
          }
        }
      },
      "post": {
        "summary": "Add or invite a member",
        "description": "Requires `member:invite` on the path app (or an admin key).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "Application key (oauth_client.metadata.app).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "pattern": "^(?:[A-Za-z0-9_'+\\-]+\\.)*[A-Za-z0-9_'+\\-]*[A-Za-z0-9_+-]@(?:[A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                  },
                  "role": {
                    "default": "member",
                    "type": "string",
                    "enum": [
                      "admin",
                      "member"
                    ]
                  },
                  "permissions": {
                    "default": [],
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "productPermissions": {
                    "default": [],
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "enum": [
                        "added",
                        "invited"
                      ]
                    }
                  },
                  "required": [
                    "result"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "403": {
            "description": "Key lacks the permission / is bound to another app"
          },
          "405": {
            "description": "Method not allowed on this resource (see the `Allow` header)"
          },
          "409": {
            "description": "Conflict (already a member, last admin, slug taken, …)"
          },
          "422": {
            "description": "Body failed validation"
          }
        }
      }
    },
    "/api/v1/apps/{app}/members/{userId}": {
      "patch": {
        "summary": "Update a member's role + permissions",
        "description": "Requires `member:manage` on the path app (or an admin key).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "Application key (oauth_client.metadata.app).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string",
                    "enum": [
                      "admin",
                      "member"
                    ]
                  },
                  "permissions": {
                    "default": [],
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "productPermissions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "role"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "403": {
            "description": "Key lacks the permission / is bound to another app"
          },
          "405": {
            "description": "Method not allowed on this resource (see the `Allow` header)"
          },
          "409": {
            "description": "Conflict (already a member, last admin, slug taken, …)"
          },
          "422": {
            "description": "Body failed validation"
          }
        }
      },
      "delete": {
        "summary": "Remove a member",
        "description": "Requires `member:manage` on the path app (or an admin key).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "Application key (oauth_client.metadata.app).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "403": {
            "description": "Key lacks the permission / is bound to another app"
          },
          "405": {
            "description": "Method not allowed on this resource (see the `Allow` header)"
          },
          "409": {
            "description": "Conflict (already a member, last admin, slug taken, …)"
          }
        }
      }
    },
    "/api/v1/apps/{app}/workspaces": {
      "get": {
        "summary": "List app workspaces",
        "description": "Requires `workspace:read` on the path app (or an admin key).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "Application key (oauth_client.metadata.app).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "workspaces": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "applicationId": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "createdAt": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "slug",
                          "applicationId",
                          "createdAt"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "workspaces"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "403": {
            "description": "Key lacks the permission / is bound to another app"
          }
        }
      },
      "post": {
        "summary": "Create a workspace",
        "description": "Requires `workspace:create` on the path app (or an admin key).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "Application key (oauth_client.metadata.app).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 1,
                    "pattern": "^[a-z0-9-]+$"
                  }
                },
                "required": [
                  "name",
                  "slug"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "slug"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "403": {
            "description": "Key lacks the permission / is bound to another app"
          },
          "405": {
            "description": "Method not allowed on this resource (see the `Allow` header)"
          },
          "409": {
            "description": "Conflict (already a member, last admin, slug taken, …)"
          },
          "422": {
            "description": "Body failed validation"
          }
        }
      }
    },
    "/api/v1/apps/{app}/workspaces/{workspaceId}/members": {
      "get": {
        "summary": "List a workspace's members and their roles",
        "description": "Requires `member:read` on the path app (or an admin key).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "Application key (oauth_client.metadata.app).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id, from the app's workspaces.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "members": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "userId": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "name": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "role": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "userId",
                          "email",
                          "name",
                          "role"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "members"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "403": {
            "description": "Key lacks the permission / is bound to another app"
          }
        }
      },
      "put": {
        "summary": "Put an existing user in a workspace with a role (or change it)",
        "description": "The user must already exist at the IdP (404 `unknown_user` otherwise: invite them to the app first). Idempotent: the same call twice leaves one membership.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "Application key (oauth_client.metadata.app).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id, from the app's workspaces.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "pattern": "^(?:[A-Za-z0-9_'+\\-]+\\.)*[A-Za-z0-9_'+\\-]*[A-Za-z0-9_+-]@(?:[A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                  },
                  "role": {
                    "default": "member",
                    "type": "string",
                    "enum": [
                      "owner",
                      "admin",
                      "member"
                    ]
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "name": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "role": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "userId",
                    "email",
                    "name",
                    "role"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "403": {
            "description": "Key lacks the permission / is bound to another app"
          },
          "405": {
            "description": "Method not allowed on this resource (see the `Allow` header)"
          },
          "409": {
            "description": "Conflict (already a member, last admin, slug taken, …)"
          },
          "422": {
            "description": "Body failed validation"
          }
        }
      }
    },
    "/api/v1/apps/{app}/workspaces/{workspaceId}/members/{userId}": {
      "delete": {
        "summary": "Remove someone from a workspace",
        "description": "Requires `member:manage` on the path app (or an admin key).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "Application key (oauth_client.metadata.app).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The member's user id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "403": {
            "description": "Key lacks the permission / is bound to another app"
          },
          "405": {
            "description": "Method not allowed on this resource (see the `Allow` header)"
          },
          "409": {
            "description": "Conflict (already a member, last admin, slug taken, …)"
          }
        }
      }
    },
    "/api/v1/apps/{app}/user-keys": {
      "get": {
        "summary": "List end-user API keys",
        "description": "Requires `userkey:read` on the path app (or an admin key).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "Application key (oauth_client.metadata.app).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "description": "Only keys owned by this user.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": false,
            "description": "Only keys bound to this workspace.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "workspaceId": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "name": {
                            "type": "string"
                          },
                          "prefix": {
                            "type": "string",
                            "description": "Non-secret token prefix (wak_…) for display"
                          },
                          "scopes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "active",
                              "expired",
                              "revoked"
                            ]
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "lastUsedAt": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "expiresAt": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "userId",
                          "workspaceId",
                          "name",
                          "prefix",
                          "scopes",
                          "status",
                          "createdAt",
                          "lastUsedAt",
                          "expiresAt"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "keys"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "403": {
            "description": "Key lacks the permission / is bound to another app"
          }
        }
      },
      "post": {
        "summary": "Mint an end-user API key (plaintext returned once)",
        "description": "Every scope must be a declared permission or `<declared type>:<id>` for an instance the app currently lists. 422 `unknown_scopes` names scopes the catalog does not declare; 422 `unknown_resource` names `<type>:<id>` grants whose instance the app did not list; 502 `resource_lookup_failed` names the types whose `list` URL could not be read.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "Application key (oauth_client.metadata.app).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "scopes": {
                    "default": [],
                    "description": "Declared permissions, or `<type>:<id>` grants over a declared resource type whose instance the app currently lists",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "workspaceId": {
                    "type": "string"
                  },
                  "expiresAt": {
                    "description": "ISO 8601; omit for non-expiring",
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
                  }
                },
                "required": [
                  "userId",
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "token": {
                      "type": "string",
                      "description": "Plaintext key — shown exactly once, never stored"
                    },
                    "prefix": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "token",
                    "prefix"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "403": {
            "description": "Key lacks the permission / is bound to another app"
          },
          "405": {
            "description": "Method not allowed on this resource (see the `Allow` header)"
          },
          "409": {
            "description": "Conflict (already a member, last admin, slug taken, …)"
          },
          "422": {
            "description": "Body failed validation"
          }
        }
      }
    },
    "/api/v1/apps/{app}/user-keys/validate": {
      "post": {
        "summary": "Validate a presented end-user key or app token (200 + valid discriminator)",
        "description": "Requires `userkey:validate` on the path app (or an admin key). Answers for both credentials an app's API accepts: an end-user key (`wak_`, `kind: \"user\"`) and an app token (`wat_`, `kind: \"app\"`: an IdP superadmin acting in this app, named by `issuedBy`). An app token is `revoked` once the admin key that minted it is revoked or expired, or its admin leaves the allowlist. A miss is data, not an error: 200 with `valid: false` and a reason.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "Application key (oauth_client.metadata.app).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "oneOf": [
                    {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "valid": {
                              "type": "boolean",
                              "const": true
                            },
                            "kind": {
                              "type": "string",
                              "const": "user"
                            },
                            "keyId": {
                              "type": "string"
                            },
                            "userId": {
                              "type": "string"
                            },
                            "workspaceId": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "scopes": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "name": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "valid",
                            "kind",
                            "keyId",
                            "userId",
                            "workspaceId",
                            "scopes",
                            "name"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "valid": {
                              "type": "boolean",
                              "const": true
                            },
                            "kind": {
                              "type": "string",
                              "const": "app"
                            },
                            "keyId": {
                              "type": "string",
                              "description": "The app token's id"
                            },
                            "issuedBy": {
                              "type": "string",
                              "description": "Who minted it, as a principal id: `adminkey:<id>` or `user:<id>`"
                            },
                            "workspaceId": {
                              "description": "The one workspace it is bound to; null for any",
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "scopes": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "name": {
                              "type": "string",
                              "description": "The issuing admin key's name, or the issuing admin's email"
                            }
                          },
                          "required": [
                            "valid",
                            "kind",
                            "keyId",
                            "issuedBy",
                            "workspaceId",
                            "scopes",
                            "name"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "valid": {
                          "type": "boolean",
                          "const": false
                        },
                        "reason": {
                          "type": "string",
                          "enum": [
                            "not_found",
                            "revoked",
                            "expired"
                          ]
                        }
                      },
                      "required": [
                        "valid",
                        "reason"
                      ],
                      "additionalProperties": false
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "403": {
            "description": "Key lacks the permission / is bound to another app"
          },
          "405": {
            "description": "Method not allowed on this resource (see the `Allow` header)"
          },
          "409": {
            "description": "Conflict (already a member, last admin, slug taken, …)"
          },
          "422": {
            "description": "Body failed validation"
          }
        }
      }
    },
    "/api/v1/apps/{app}/user-keys/{id}": {
      "delete": {
        "summary": "Revoke an end-user API key (idempotent)",
        "description": "Requires `userkey:revoke` on the path app (or an admin key).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "Application key (oauth_client.metadata.app).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "403": {
            "description": "Key lacks the permission / is bound to another app"
          },
          "405": {
            "description": "Method not allowed on this resource (see the `Allow` header)"
          },
          "409": {
            "description": "Conflict (already a member, last admin, slug taken, …)"
          }
        }
      }
    },
    "/api/v1/apps/{app}/tokens": {
      "post": {
        "summary": "Mint an app token (plaintext returned once)",
        "description": "Requires an admin key. GitHub-App style: the admin key is the private key and never goes to an app; this exchanges it for a short-lived `wat_` token bound to the path app, which the app validates like an end-user key (`kind: \"app\"`). `scopes` default to `[\"*\"]`, everything the issuer may do in the app; given ones resolve like end-user key scopes — 422 `unknown_scopes` / `unknown_resource`, 502 `resource_lookup_failed`. `expiresIn` is seconds, 60 to 3600 (the default).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "Application key (oauth_client.metadata.app).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "scopes": {
                    "description": "Omit for `[\"*\"]`, everything the issuer may do in the app. Otherwise `\"*\"`, declared permissions, or `<type>:<id>` grants over a declared resource type whose instance the app currently lists",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "workspaceId": {
                    "description": "Bind the token to one workspace; omit for any",
                    "type": "string"
                  },
                  "expiresIn": {
                    "default": 3600,
                    "description": "Lifetime in seconds, 60 to 3600",
                    "type": "integer",
                    "minimum": 60,
                    "maximum": 3600
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "token": {
                      "type": "string",
                      "description": "Plaintext token (wat_…) — shown exactly once, never stored"
                    },
                    "prefix": {
                      "type": "string"
                    },
                    "scopes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "workspaceId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "expiresAt": {
                      "type": "string",
                      "description": "ISO 8601"
                    }
                  },
                  "required": [
                    "id",
                    "token",
                    "prefix",
                    "scopes",
                    "workspaceId",
                    "expiresAt"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "No application with that app key"
          },
          "405": {
            "description": "Method not allowed on this resource (see the `Allow` header)"
          },
          "409": {
            "description": "Conflict (already a member, last admin, slug taken, …)"
          },
          "422": {
            "description": "Body failed validation"
          }
        }
      }
    },
    "/api/v1/users/{userId}/identities": {
      "get": {
        "summary": "List a user's linked identities (their ids on other systems)",
        "description": "Requires an admin key. Identities are global to the user, not per app — a Slack id identifies a person regardless of who is asking.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "IdP user id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "identities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "provider": {
                            "type": "string",
                            "description": "The other system, lowercase — slack, whatsapp, telegram"
                          },
                          "externalId": {
                            "type": "string",
                            "description": "The id exactly as that system spells it"
                          },
                          "label": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "createdAt": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "userId",
                          "provider",
                          "externalId",
                          "label",
                          "createdAt"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "identities"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          }
        }
      },
      "post": {
        "summary": "Link an external id to a user",
        "description": "Requires an admin key: a link asserts identity with nothing to prove it, so no app or member may do it. 201 on a new link, 200 when the same pair was already this user's, 409 `already_linked` when it belongs to someone else — an identity is never silently re-pointed.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "IdP user id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string",
                    "minLength": 1,
                    "description": "slack, whatsapp, telegram… — normalised to lowercase"
                  },
                  "externalId": {
[...]
