@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer base {
  .trans {
    @apply transition;
    @apply duration-300;
    @apply ease-in-out;
  }

  a {
    @apply border-b-2;
    @apply border-dotted;
    @apply border-neuda;
    @apply hover:border-solid;
    @apply hover:border-prim-200;
    @apply cursor-pointer;

    @apply trans;
  }

  a.active {
    @apply border-solid;
  }

  .text-title {
    @apply text-gray-800;
    @apply dark:text-gray-100;
  }

  .text-title-prim {
    @apply text-neuda;
    @apply dark:text-neuli;
  }

  .text-subtitle {
    @apply text-gray-500;
    @apply dark:text-gray-400;
  }

  .text-subsubtitle {
    @apply text-gray-400;
    @apply dark:text-gray-500;
  }

  .markddown p {
    @apply pb-2;
  }
}

.wave {
  animation-name: wave-animation;
  animation-duration: 7s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  2% {
    transform: rotate(14deg);
  }
  4% {
    transform: rotate(-8deg);
  }
  6% {
    transform: rotate(14deg);
  }
  8% {
    transform: rotate(-4deg);
  }
  10% {
    transform: rotate(10deg);
  }
  12% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
}
